
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Producto</h2>

@using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { @class = "col-md-12" }))
{
    <label>Nombre</label>
    @Html.TextBox("nom_producto", null, new { @class = "form-control", id = "num1" })
    <label>Descripción</label>
    @Html.TextBox("descripcion", null, new { @class = "form-control" })

    <label>Precio Compra</label>
    @Html.TextBox("precio_compra", null, new { @class = "form-control" })
    <button type="submit" class="btn btn-success">Enviar</button>
}